
//colors

$maincolor: #1A1B1E;
$fontcolor : #FFFFFF;
$footercolor : #F39237;

//fonts

$raleway : 'Raleway', sans-serif;
$signika : 'Signika', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $signika;
  background-color: $maincolor;
  color: $fontcolor;
}

h2 {
    font-family: $raleway;
}

